@import-normalize;
@import "~bootstrap/scss/bootstrap";
@import "test-color", "prism", "code-editor", "snips";
@import "menu-bar", "sidebar";

$header-height: 1.5rem;

* {
	margin: 0;
	padding: 0;
	font-family: monospace;
}

.button {
	cursor: default;
}

#main-body {
	margin-top: 0.5rem;
}
.shadow {
	box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.15);
	height: 90vh;
}

.header {
	height: $header-height;
	padding: 0 0.5rem;
	position: sticky;
	top: 0;
	background-color: white;
	z-index: 100;
}
.footer {
	position: relative;
	bottom: 0;
}

.db-main {
	border-left: 1px solid black;
}

.db-side {
	height: 85vh;
	overflow: hidden;
	top: $header-height;
	position: sticky;
}
