#menu-bar {
	padding-top: 0.2em;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.menu-link {
	cursor: pointer;
	color: #2222ee;
}

.menu-link:hover {
	text-decoration: underline;
}
